body{
    /* background: url("background.jpg");
    background-size: cover;
    color: #e6e6e6;
    e9e6e0 */
    background-color: #fff7e6;
    font-family: 'palatino';
}

/* -----------------------Left menu -------------------------*/
.col-2{
    border-right: double;
    min-height: 100%;
}

.col{
    padding-left: 0;
}

#menu{
    border-right: double;
    height: 100%;
}

ul.nav.flex-column{
    margin-top: 100%;
}

a.nav-link{
    text-align: center;
    color: 	#800000;
}

/* ----------------------main--------------------------------*/
#name-div{
    border-bottom: double;
    /* color: white; */
    /* margin-right: 5%; */
    /* margin-bottom: 5%; */
}

#img-div{
    margin-top: 60px;
    margin-left: 5%;
    float:left;
    height: 20%;
    width: 30%;
}

#indeximg{
    border-radius: 5%;
    max-width: 100%;
}

#intro{
    margin-top: 60px;
    margin-left: 5%;
    width: 55%;
    float:left;
}

h4{
    margin-top: 40px;
    margin-bottom: 20px;
}

#faculty{
    margin-top: 40px;
    border-bottom-style:solid;
    border-bottom-color: gray;
    border-width:1px;
    margin-right: 5%;
}

.index-h5{
    margin-top: 30px;

}

h1{
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: right;
    margin-right: 10%;
    color: 	#800000;
}

.title{
    border-bottom-style:solid;
    border-bottom-color: gray;
    border-width:1px;
    margin-right: 5%;
}



/* ----------------------about me--------------------------- */
#aboutme-main{
    margin-left: 15%;
    margin-right:15%;
    margin-top:10%;
}

/* ----------------------------cv--------------------------- */
#cv-div{
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
}

#plugin{
    width: 100%;
    height: 100%;
}

/* ----------------------research--------------------------- */
h3{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    /* color: #ffad33; */
    color:#800000;
}


#papers{
    margin-top: 25px;
    margin-right: 10%;
    margin-left: 5%;
}

.paper{
    /* border-bottom:double; */
    margin-bottom: 30px;
    border-width:1px;  
    border-bottom-style:solid;
    border-bottom-color: gray;
}


/* ----------------------media------------------------------ */
#media-div{
    margin-top: 5%;
}

#media-ul{
    list-style-type: none;
}

.media-li{
    margin-bottom: 15px;
}

a{
    color: #668cff;
}


/* ----------------------teaching----------------------------- */
#teaching-div{
    margin-left: 15%;
    margin-right:15%;
}

#teaching_title{
    margin-bottom: 5%;
}

.course{
    /* border-bottom:double; */
    margin-bottom: 30px;
    border-width:1px;  
    border-bottom-style:solid;
    border-bottom-color: gray;
}



/* ----------------------Contact Me--------------------------- */
#contactme-main{
    margin-top: 5%;
}

#contactme-img{
    margin-left: 10%;
    width: 25%;
    float:left;
}

#contactme-content{
    margin-top: 5%;
    margin-left: 10%;
    float:left;
    width: 50%;

}
